.kbHeader {
  display: flex;
  align-items: center;
  padding: 10px 0 0;
  .col {
    flex: 0 1 50%;
  }
  .col:first-child {
    [class~="ant-btn"] {
      margin-right: 1px;
    }
  }
  .col:nth-child(2) {
    text-align: right;
    [class~="ant-btn"] + [class~="ant-btn"] {
      margin-left: 24px;
    }
  }
  [class~="ant-btn"] {
    width: 24px;
    height: 24px;
    padding: 0;
    vertical-align: middle;
    img {
      vertical-align: middle;
    }
  }
  p {
    font-size: 18px;
    color: #26282C;
    display: inline-flex;
    transform: translateY(3px);
  }
}