.bankBottomSheet {
  -webkit-border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  [class~="ant-drawer-header"] {
    padding-top: 30px;
    padding-bottom: 27px;
    border-bottom: none;
  }
  [class~="ant-drawer-header-title"] {
    [class~="ant-drawer-title"] {
      font-family: 'KBB', sans-serif;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: -0.0125em;
    }
    [class~="ant-drawer-close"] {
      order: 1;
      margin-right: 0;
    }
  }
  [class~="ant-drawer-body"] {
    padding-top: 0;
    .BSContainer {
      padding-top: 0;
      //padding-left: 24px;
      //padding-right: 24px;
    }
  }

  .tabMenu {
    border-bottom: 1px solid #dde1e4;
    margin-right: -24px;
    padding-right: 24px;
    ul {
      display: flex;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 32px;
        height: 4px;
        background-color: #26282c;
      }
    }
    li {
      & + li {
        padding-left: 31px;
      }
    }
    [class~="ant-btn"] {
      font-family: 'KBB', sans-serif;
      font-size: 16px;
      letter-spacing: -0.0125em;
      line-height: 23px;
      padding: 0 0 11px 0;
      color: #8c949e;
      &:hover,
      &:active {
        color: #8c949e !important;
      }
      &.on {
        color: #26282c !important;
      }
    }
  }

  // 은행/증권사 list
  .itemList {
    padding-top: 28px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        flex: 1 0 50%;
        &:not(:first-child, :nth-child(2)) {
          padding-top: 24px;
        }
      }
      .imgBox {
        flex: none;
        width: 24px;
        height: 24px;
      }
      p {
        font-family: 'KBB', sans-serif;
        font-size: 15px;
        flex: 1 0 calc(100% - 24px);
        padding-left: 8px;
      }
    }
  }
}