@forward "./components/keypadDrawer.module";

.inputUtil {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  .utilList {
    display: flex;
  }
  p {
    font-family: 'KBFGLight', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.0125em;
    padding-left: 4px;
  }
}
