.inputUtil {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  .utilList {
    display: flex;
  }
  p {
    font-family: 'KBFGLight', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.0125em;
    padding-left: 4px;
  }
}

.drawerContainer {
  padding: 0 24px;
  [class~="customKeypad"] {
    padding: 0;
  }
}
.keyboardDrawer {
  -webkit-border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  [class~="ant-drawer-body"] {
    padding: 0;
  }
}