.passwordView {
  width: 100vw;
  height: 100vh;
  display: block;
  transform: translateY(50%);
  margin-top: -83px;
  .passwordContainer {
    margin: 0 48px;
    [class~="ant-input-affix-wrapper"]:focus,
    [class~="ant-input-affix-wrapper"]:focus-within {
      border-color: #d9d9d9;
    }
  }
    h1 {
    flex: 1 0 100%;
    font-family: 'KBM', sans-serif;
    font-size: 40px;
    text-align: center;
  }
  [class~="ant-input-password"] {
    box-shadow: none;
    height: 62px;
    margin-top: 8px;
    font-family: 'KBM', sans-serif;
    font-size: 40px;
    text-align: center;
    [class~="ant-input"] {
      text-align: center;
    }
  }
}