@forward "./components/keypadDrawer.module";

/* page */
.transPageWrap{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    .transPageContainer {
        position: fixed;
        z-index: 10;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    &.on {
        overflow-y: hidden;
    }
    .header {
        position:fixed;
        width: 100%;
        left: 0;
        top:0;
        height: 45px;
        display:flex;
        padding: 12px 24px 9px 24px;
        background-color: #fff;
        justify-content: space-between;
        box-sizing: border-box;
        z-index: 10;
        .left {
            font-size: 18px;
        }
        .right {
            color:#696E76;
            font-size: 16px;
        }
    }
    .body {
       flex: 1;
       padding-top: 45px;
    }
    .topAccountBox {
        display: flex;
        margin: 19px 12px 30px 12px;
        padding: 12px 14px;
        justify-content: space-between;
        border: 1px solid #EBEEF0;
        background-color: #F7F7F8;
        .inner {
            display: flex;
            flex-direction: row;
            font-family: 'KBB';
            font-size: 13px;
            p{
                position: relative;
                padding-left: 11px;
                &::before {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top: 50%;
                    margin-top: -5px;
                    left:5px;
                    width: 1px;
                    height: 10px;
                    background-color: #484B51;
                }
            }
        }
    }
    .topAccountInfo {
        position: relative;
        padding: 0 24px;
        .name {
            font-family: "KBB";
            font-size: 20px;
            line-height: 28px;
        }
        .account {
            font-family: "KBM";
            font-size: 20px;
            line-height: 28px;
            color: #8C949E;
        }
        .text {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 23px;
            color: #8C949E;
            img {
                margin-top: -2px;
                margin-left: 4px;
            }
        }
        .btn {
            position: absolute;
            top:0;
            right:24px;
            width: 60px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            color: #696E76;
            border-radius: 26px;
            border: 1px solid #EBEEF0;
            background-color: #F7F7F8;
        }
    }
    .accountNum {
        padding: 60px 24px 118px 24px;
        .number {
            display: flex;
            align-items: center;
            padding-bottom: 5px;
            justify-content: center;
            font-family: 'robotoB';
            font-size: 34px;
            text-align: center;
            border-bottom: 2px solid #B0986A;
            .amount {
                font-family: 'robotoM';
                font-size: 34px;
                letter-spacing: -0.0125em;
            }
            .currency {
                margin-left: 4px;
                font-family: 'KBB';
                font-size: 30px;
                line-height: 30px;
            }
        }
        .errAccount {
            font-family: 'KBB', sans-serif;
            font-size: 20px;
            letter-spacing: -0.0125em;
            line-height: 28px;
            color: #26282C;
        }
        .info {
            margin-top: 8px;
            font-size: 14px;
            text-align: center;
        }
    }
    .accountTransInfo {
        margin: 0 24px 20px 24px;
        p {
            color: #696E76;
            font-size: 16px;
            line-height: 23px;

        }
        .name + p {
            margin-top: 23px;
        }
        .name {
            margin-top: 4px;
            padding-bottom: 7px;
            border-bottom: 2px solid #B0986A;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'KBB';
            font-size: 19px;
        }
    }
    .desc {
        text-align: right;
        margin: 20px 0 0 0;
    }

    .bottomBtn {
        position: fixed;
        width: 100%;
        bottom:0;
        left:0;
    }
}
.bottomBtn{
    height: 60px;
    text-align: center;
    line-height: 60px;
    border:0;
    box-shadow: none;
    background-color: #FFD338;
    border-radius: 0;
    font-family: 'KBB';
    font-size: 20px;
    font-weight: 700;
}
@media screen and (max-height: 741px) {
    .accountTransInfo {
        padding-bottom: 100px;
    }
}

.keyboardDrawer {
    [class~="ant-drawer-content"] {
        [class~="ant-drawer-wrapper-body"] {
            [class~="ant-drawer-body"] {
                padding-top: 3px;
            }
        }
        [class~="ant-drawer-header"] {
            [class~="ant-drawer-header-title"] {
                padding-top: 15px;
            }
            border-bottom: none;
            [class~="ant-drawer-title"] {
                font-family: 'KBB', sans-serif;
                font-size: 20px;
                letter-spacing: -0.0125em;
                line-height: 28px;
            }
            [class~="ant-drawer-close"] {
                width: 24px;
                height: 24px;
                order: 1;
                margin: 0;
                span {
                    width: 24px;
                    height: 24px;
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
    .drawerContainer {
        .accountInput {
            [class~="ant-input"] {
                font-family: 'KBB', sans-serif;
                font-size: 22px;
                letter-spacing: -0.0125em;
                line-height: 1.4;
            }
            border: none;
            border-bottom: 2px solid #26282C;
            border-radius: 0;
            box-shadow: none;
        }
    }
}
