@forward "./components/keypadDrawer.module";

.topAccountInfo {
  position: relative;
  padding-top: 76px;
  .name {
    font-family: "KBB", sans-serif;
    font-size: 20px;
    line-height: 28px;
  }
  .account {
    font-family: "KBM", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #8C949E;
  }
}

.userPriceInput {
  text-align: center;
  border: none;
  margin-top: 61px;
  //border-bottom: 2px solid #26282C;
  //border-bottom: 2px solid #B0986A;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 34px;
  font-family: 'KBB', 'robotoM', sans-serif;
  letter-spacing: -0.0125em;
  &::placeholder {
    font-family: 'KBB', sans-serif;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.0125em;
  }
  &:focus-within {
    box-shadow: none;
    border-color: #B0986A;
  }
  &:hover {
    border-color: #B0986A;
  }
  .placeholderText {
    font-family: 'KBM', sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #C6CBD0;
    line-height: 39px;
    letter-spacing: -0.0125em;
  }
  .amount {
    font-family: 'robotoM', sans-serif;
    font-size: 34px;
    letter-spacing: -0.0125em;
  }
  .currency {
    font-family: 'KBB', sans-serif;
    font-size: 30px;
    line-height: 39px;
    padding-left: 4px;
  }
}

.shortedPrice {
  font-family: 'KBL', sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.0125em;
  line-height: 20px;
  margin-top: 8px;
}

//.customKeypad {
//  user-select: all;
//}