/* bottom sheet */
.transCompleteWrap{
    text-align: center;
    .topImg {
        img {
            width: 110px;
            height: 38px;
        }
    }
    .info {
        margin-top: 20px;
        color: #26282C;
        p {
            font-size: 20px;
            line-height: 28px;
            &:first-child {
                font-family: 'KBB';
                font-weight: 700;
            }
            span{
                font-family: 'KBB';
                font-weight: 700;
            }
        }
    }
    .account {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9px;
        font-size: 14px;
        line-height: 23px;
        font-weight: 400;
        color: #484B51;
        span {
            margin-left: 6px;
            color: #484B51;
            font-size: 12px;
            line-height: 23px;
        }
    }
    .bottomText {
        margin-top: 25px;
    }
    .bottom{
        margin: 18px 24px 46px 24px;
        border-top:1px solid #EBEEF0;
        p {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 21px;
            font-size: 14px;
            font-weight: 400;
            color: #696E76;
            img {
                margin-left: 4px;
            }
        }
    }

}
.bottomBtn{
    position:fixed;
    width: 100%;
    left:0;
    bottom:-1px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border:0;
    box-shadow: none;
    background-color: #FFD338;
    border-radius: 0;
    font-family: 'KBB';
    font-size: 20px;
    font-weight: 700;
}
[class~="CmodalWrapper"] {
    outline: none;
}
[class~="ant-drawer-body"][class~="CmodalBody"]{
    padding: 10px 0 0 0;
}
[class~="ant-drawer-mask"][class~="CmodalMask"] {
    height: calc(100% - 46px);
    top: 46px;
}