@import "../../components/keypadDrawer.module.scss";

.userTransit {
  padding-top: 21px;
  h2 {
    font-family: 'KBB';
    font-weight: normal;
    font-size: 20px;
  }
  .accountInput {
    position: relative;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #898585;
    height: 44px;
    line-height: 44px;
    margin-top: 24px;
    padding: 0;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 100%;
      bottom: -2px;
      background-color: #B0986A;
      height: 2px;
      transition: right .3s ease-in-out;
      will-change: right;
    }
    &[class~="on"],
    &:focus-within, &:focus {
      box-shadow: none;
      &:after {
        right: 0;
      }
    }
    [class~="ant-input"], &[class~="ant-input"] {
      font-family: 'KBB';
      font-weight: normal;
      font-size: 19px;
      &::placeholder {
        font-family: 'KBB';
        font-weight: normal;
        font-size: 19px;
      }
    }
    .clearBtn {
      display: flex;
      width: 20px;
      height: 20px;
    }
  }
  .userAccountNumUtil {
    display: flex;
    justify-content: flex-end;
    padding-top: 19px;
    li {
      position: relative;
      display: inline-flex;
      align-items: center;
      p {
        padding-left: 7px;
      }
      & + li {
        padding-left: 21px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 3px;
          left: 11px;
          width: 1px;
          height: 16px;
          background-color: #c4c4c4;
        }
      }
    }
  }
  .descWrap {
    p, button {
      margin-top: 8px;
    }
    p {
      font-family: "KBL";
      font-size: 14px;
    }
    .blue {
      color: #287EFF;
    }
  }
  .bottomNextBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'KBB', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: -0.0125em;
    background-color: #ffd338;
    color: #26282C;
    height: 60px;
    border: 0;
  }
}