@font-face {
  font-family: 'KBL';
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/KBFGTextL.woff") format("woff");
}
@font-face {
  font-family: 'KBM';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/KBFGTextM.woff") format("woff");
}
@font-face {
  font-family: 'KBB';
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/KBFGTextB.woff") format("woff");
}
@font-face {
  font-family: 'KBDL';
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/KBFGDisplayL.woff") format("woff");
}
@font-face {
  font-family: 'KBDM';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/KBFGDisplayM.woff") format("woff");
}
@font-face {
  font-family: 'KBDMI';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/KBFGDisplayMI.woff") format("woff");
}
@font-face {
  font-family: 'KBDB';
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/KBFGDisplayB.woff") format("woff");
}

body {
  -webkit-text-size-adjust:none;
  font-size: 16px;
  font-family: 'KBL', sans-serif;
  font-weight: 400;
}
body, p, h1, h2, h3, h4, h5, h6, div, ul, li, ol, a {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}